body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 0;
    border: 12px solid green;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonContainer{
    padding: 50px 150px;
    align-self: stretch;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}


/*
.item{
    background-color: rgb(215, 215, 215);
    width: calc(100% * (1/16)  );
    /*height: 50px;
    aspect-ratio: 1 / 1;
}
*/